
###> symfony/framework-bundle ###
/.env
/.env.local
/.env.local.php
/.env.*.local

.env
.env.local
.env.*.local
/.env.local.php

/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/log/
/*.log
.idea/
.vscode/
.DS_Store
Thumbs.db
.phpunit.result.cache
*.mongodb
*.sqlite
.phpunit.cache/
composer.phar
.symfony
README.MD
###< symfony/framework-bundle ###
